.paginate{
    display: flex;
    justify-content: center;
}
.paginate-list{
    display: flex;
}
.link{
    border: 1px solid #000;
    margin: 0 10px;
}
.link a{
   text-decoration: none;
   padding: 10px;
   line-height: 40px;
}
.active{
    background: red;
}
.prev, .next{
    background: red;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}