.items{
    /* width: 80%;
    margin: auto;  */
}
.itemsList{
    border:1px solid buttontext;
    padding: 0;
}
.itemsList li {
    border-bottom: 1px solid buttontext;
    padding: 10px;
    display: flex;
    align-items: center;
}
.itemsList li .delete {
    margin-left: auto;
}

.itemsList li a {
     text-decoration: none;
}
.items .deleteButton{
    padding: 6px 12px;
    border-radius: 5px;
    /* float: right; */
}

