nav{
    display: flex;
    height: 70px;
    line-height: 70px;
}
ul{
    margin: 0;
    list-style:none;
}
.nav-link{
    text-decoration: none;
    color: buttontext;
    text-transform: capitalize;
}
.active-Link{
    color:red;
}

